@import url("https://fonts.googleapis.com/css?family=Comfortaa:300,400,700");
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    transition: all 0.5s;
    font-family: "Comfortaa", sans-serif;
    background-color: #fff;
    font-weight: 400;
    font-size: 15px;
}

a {
    color: inherit!important;
    text-decoration: unset;
}

.header {
    width: 1224px;
    margin: auto;
    padding: 25px 0px;
}

.connect {
    width: 65%;
}

.social-network {
    margin-left: 10px;
}

.header-space {
    margin-left: 3px;
}

.contact-information {
    display: flex;
}

.user-space {
    margin-left: 3px;
    cursor: pointer;
}

.information-user {
    color: red;
}

.header-main {
    background-color: #f1d4d4;
    color: red;
}

.header-logo {
    width: 1224px;
    margin: auto;
}

.logo {
    width: 50%;
    margin-top: 20px;
}

.logo-border {
    border: 5px dotted red;
    height: 50px;
    border-radius: 100px;
    width: 80%;
}

.logo-in {
    color: white;
    width: max-content;
    border-radius: 100px;
    z-index: 100;
    padding: 12px;
}

.logo-in {
    position: relative;
    animation-name: move;
    animation-duration: 6s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

@keyframes move {
    0% {
        background-color: red;
        left: 0px;
        top: 0px;
    }
    50% {
        background-color: green;
        left: 360px;
        top: 0px;
    }
    100% {
        background-color: blue;
        left: 0px;
        top: 0px;
    }
}

.header-logo {
    display: flex;
    vertical-align: middle;
}

.header-input {
    width: 542px;
    padding: 15px;
    outline: none;
    border-color: white;
    border-width: 5px;
    border: none;
}

.search-information {
    margin-top: 23px;
}

.fa-shopping-cart {
    font-size: 1.5rem;
    color: white;
    position: relative;
    right: 0.5em;
}

.fa-search {
    position: relative;
    right: 2.5rem;
    cursor: pointer;
}

.nav-main {
    width: 1224px;
    margin: auto;
    padding: 20px 0px;
    display: flex;
}

.nav-border {
    margin-left: 5rem;
}

.nav-font-size {
    font-size: 2rem;
}

.nav-bottom {
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
}

.fa-home {
    position: relative;
    left: 10px;
}

.fa-bolt {
    position: relative;
    left: 3em;
}

.fa-hand-spock {
    position: relative;
    left: 2em;
}

.fa-coins {
    position: relative;
    left: 2em;
}

.fa-assistive-listening-systems {
    position: relative;
    left: 1em;
}

.nav {
    background-color: #f9813a;
    color: white;
    height: 107px;
}

 ::placeholder {
    color: red;
}

.body-main {
    width: 1224px;
    margin: auto;
    padding: 30px 0px;
    display: flex;
}

.body-left {
    width: 25%;
}

.word-all-information {
    font-size: 20px;
    margin-left: 15px;
}

.all-flie {
    display: flex;
}

.fa-bowling-ball {
    font-size: 20px;
}

.general-1 {
    margin-left: 20px;
    padding: 15px 0px;
    color: #ee4d2d;
}

.fa-play {
    position: relative;
    right: 1rem;
}

.fa-angle-down {
    position: relative;
    top: 3px;
}

.general-2 {
    margin-left: 2rem;
    margin-top: 10px;
    display: block;
}

.general-2-0 {
    margin-left: 2rem;
}

.fa-phoenix-squadron {
    position: relative;
    right: 1rem;
}

.word-size {
    font-weight: bold;
    font-size: 18px;
    margin-left: 5px;
}

.general-3 {
    margin-left: 1.5rem;
    margin-top: 10px;
}

.button-1 {
    position: relative;
    right: 1rem;
}

.table-2 {
    margin-top: 1em;
}

.table-3 {
    margin-top: 1em;
}

.input-1 {
    width: 20%;
    outline: none;
}

.price-input {
    display: flex;
    margin-top: 10px;
}

.space-price-input {
    margin-left: 20px;
}

.input-1::placeholder {
    text-align: center;
}

.click-input {
    border: 2px solid red;
    outline: none;
    background-color: red;
    width: 51%;
    margin-top: 15px;
    padding: 8px;
    text-align: center;
    color: white;
}

.table-4 {
    margin-top: 10px;
}

.table-5 {
    margin-top: 10px;
}

.star_group>.fa-star {
    color: red;
    position: relative;
    top: 10px;
}

.fa-star-1 {
    margin-left: 10px;
}

.star_group {
    display: flex;
}

.star-full {
    margin-top: 9px;
    margin-left: 1.5rem;
    font-weight: bold;
}

.far-star-2 {
    margin-left: 10px;
}

.sort {
    font-family: Arial, Helvetica, sans-serif;
}

.body-right-border1 {
    border: 1px solid #ffffff;
    margin-left: 5px;
    width: 200px;
    padding-top: 8px;
    background-color: #ffffff;
}

.sort {
    border: 2px solid #EDEDED;
    display: flex;
    width: 100%;
    background-color: #EDEDED;
}

.body-right-border {
    width: 80px;
    margin-left: 10px;
    text-align: center;
    outline: none;
    border: none;
}

.body-right-border-3 {
    width: 80px;
    color: black;
    margin-left: 30px;
}

input:disabled {
    background: #ffffff;
}

.body-right-border-2 {
    width: 200px;
    outline: none;
    border: none;
    margin-left: 10px;
}

.body-right {
    width: 74%;
}

.sort-div {
    margin-top: 20px;
}

.sort-padding-top {
    padding: 10px 0px;
}

.sort-padding-top {
    display: flex;
}

.fa-arrow-circle-down {
    position: relative;
    opacity: 0.8;
    right: 30px;
    top: 10px;
    color: red;
}

.click-sort {
    border: 2px solid red;
    background-color: red;
    color: #ffffff;
    padding: 10px;
    margin-left: 5rem;
}

.grenal-img {
    width: 100%;
    margin-left: 10px;
    padding: 5px;
    height: 200px;
}

.flex-img {
    display: flex;
    padding: 20px 0px;
    flex-wrap: wrap;
}

.price {
    color: red;
}

.price>.fa-truck {
    color: green;
    position: relative;
    left: 3em;
}

.fa-heart {
    color: red;
}

.habitat {
    font-size: 14px;
}

.word-information {
    padding: 10px 0px;
    text-align: center;
    font-weight: bold;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.word-information-1 {
    padding: 10px 0px;
}

.border-img {
    border: 2px solid red;
    padding: 5px;
    margin-left: 9px;
}

.img-left {
    width: 60%;
}

.border-img-0 {
    border: 2px solid red;
    padding: 10px;
    margin-right: 2px;
    margin-top: 5px;
    width: calc(100% / 4 - 10px);
    height: 350px;
}

.border-img-0:nth-child(1) {
    margin-left: 0px;
}

.font-size-p {
    display: inline;
    font-size: 14px;
    font-weight: bold;
}

.word-inline-3 {
    display: inline-block;
    margin-left: 2em;
    color: green;
}

.habitat {
    display: inline;
    color: red;
}

.word-inline-2 {
    color: green;
}

.border-footer {
    border: 1px solid red;
}

.main-footer {
    width: 1224px;
    margin: auto;
    padding: 25px 0px;
}

.fa-undo-alt {
    font-size: 2em;
    display: inline;
}

.footer-1-word {
    display: inline-block;
    vertical-align: sub;
    width: 225px;
    font-weight: bold;
    margin-left: 10px;
}

.footer-1-flex {
    display: flex;
}

.fa-user-shield {
    font-size: 2em;
    display: inline;
}

.footer-2 {
    margin-left: 180px;
}

.footer-3 {
    margin-left: 200px;
}

.footer-2-1>.footer-1-word {
    vertical-align: middle;
}

.fa-truck-moving {
    font-size: 2em;
}

.border-footer-1 {
    border: 1px solid #555;
    margin: 30px 0px;
    opacity: 0.4;
}

.nav-flex {
    display: flex;
    animation: 1s;
}

.nav-right {
    display: flex;
}

.main-nav {
    width: 1224px;
    margin: auto;
    padding-top: 20px;
    display: flex;
}

.nav-2 {
    border: 1px solid black;
    margin-left: 25px;
    background-color: green;
    color: white;
    border: none;
    text-align: center;
    padding: 0px 20px;
    padding-top: 5px;
}

.nav-border>.fa-truck {
    position: relative;
    color: white;
    left: 1em;
}

.nav-left {
    width: 25%;
}

.nav-right {
    width: 74%;
    border: 1px solid #555;
    background-color: #EDEDED;
}

.fixed-one {
    font-size: 30px;
    margin-top: 3px;
}

.fixed {
    position: fixed;
    top: 40%;
    transition: all 1s;
    cursor: pointer;
}

.animation-one:hover {
    animation-name: demo;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.animation-one:hover>* {
    transition: all 1s;
    transform: translateX(58px);
}

@keyframes demo {
    from {
        background-color: blue;
        color: white;
        width: 0px
    }
    to {
        background-color: blue;
        color: white;
        width: 150px;
        border: 0;
        outline: none;
    }
}

.hideen {
    display: none;
}

.move {
    transform: translateX(-30px);
}

.move_1 i {
    transition: 3s;
    font-size: 20px;
}

.fixed-1 {
    position: fixed;
    opacity: 0;
    top: 37%;
    transition: all 2s;
}

.move_1 {
    opacity: 1;
    transform: translateY(100px);
}

.d-flex {
    display: flex;
    justify-content: space-between;
}

.col-left {
    color: red;
}

.col-right {
    color: green;
    width: max-content;
    text-align: left;
}

.progress {
    width: 100%;
    border-radius: 25px;
    border: 1px solid #BDBDBD;
    height: 20px;
    position: relative;
}

.progress_bar {
    background-color: #f9813a;
    height: 100%;
    border-radius: 25px;
}

.text_progess {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.star_rate {
    justify-content: center;
    color: #e6ce1d;
    margin-bottom: 10px;
    font-weight: bold;
}
.nav-2 {
    border-radius: 25px;
}

.main-img {
    width: 1224px;
    margin: auto;
    padding: 25px 0px;
    display: flex;
}

.back>.fa-arrow-left {
    font-size: 2.5em;
    position: relative;
    top: 4.5em;
    left: 1em;
    color: #ffffff;
}

.img-flex {
    display: flex;
    position: relative;
    width: max-content;
}

.next>.fa-arrow-right {
    font-size: 2.5em;
    position: relative;
    top: 4.5em;
    right: 1em;
    color: #ffffff;
}

.li-flex {
    display: flex;
    position: absolute;
    top: 380px;
    left: 300px;
}

.border-li {
    width: 15px;
    height: 15px;
    border: 2px solid #ffffff;
    margin-left: 20px;
    border-radius: 25px;
}

.border-li-1 {
    background-color: white;
}

.border-so-1 {
    border: 1px solid red;
    background-color: red;
    width: min-content;
    padding: 10px;
    color: white;
    border-radius: 50%;
}

.one-flex {
    display: flex;
}

.information-1 {
    background-color: green;
    color: white;
    padding: 9px;
    margin-left: 2em;
    width: 100%;
    padding-left: 3em;
}

.one-flex-2 {
    display: flex;
    margin-top: 30px;
}

.dropdown-table {
    display: none;
    position: relative;
}

.dropdown-font {
    font-size: 1.5em;
    margin-top: 20px;
    color: #000000;
    width: 80%;
}

.dropdown {
    position: relative;
    cursor: pointer;
    height: 100%;
}

.dropdown:hover>.dropdown-table {
    position: absolute;
    width: 700px;
    height: 227px;
    border: 1px solid red;
    display: block;
    z-index: 10;
    top: 75px;
    background-color: #F1D4D4;
    border: none;
    color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 5px #fff;
}

.dropdown-one {
    display: flex;
}

.one-center {
    text-align: center;
}

.one-center-1 {
    font-size: 20px;
    padding: 12px 0px;
    width: 100%;
}

.one-center-1:hover {
    font-family: Arial, Helvetica, sans-serif;
}

.dropdown-table-two {
    position: relative;
}

.dropdown:hover>.dropdown-table-two {
    position: absolute;
    width: 350px;
    height: 250px;
    border: 1px solid red;
    display: block;
    z-index: 10;
    top: 85px;
    background-color: #f1d4d4;
    border: none;
    color: black;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 5px #fff;
    right: -120px;
}

.dropdown-table-two {
    display: none;
}

.dropdown-font-1 {
    font-size: 1.5em;
    margin-top: 20px;
    color: #000000;
    text-align: center;
    width: 100%;
    position: relative;
}

.two-center {
    margin-top: 20px;
    font-size: 18px;
}

.dropdown:hover>.dropdown-table-three {
    position: absolute;
    width: 460px;
    height: 233px;
    border: 1px solid red;
    display: block;
    z-index: 10;
    top: 80px;
    background-color: #f1d4d4;
    border: none;
    color: black;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 5px #fff;
}

.dropdown-table-three {
    display: flex;
    display: none;
}

.poster>.fa-angle-left {
    font-size: 4em;
    position: absolute;
    top: 300px;
    left: 50px;
    color: white;
}

.poster>.fa-angle-right {
    font-size: 4em;
    position: absolute;
    top: 300px;
    right: 50px;
    color: white;
}

.poster {
    position: relative;
}

.poster {
    width: 1624px;
    margin: auto;
}

.box-img {
    transition: all 1s;
}

.img_animation_1 {
    transition: all 2s;
    animation-name: image;
    animation-duration: 3s;
}

@keyframes image {
    from {}
}

.phone {
    margin-top: 10px;
}

.notification {
    position: relative;
    cursor: pointer;
}

.notification-hover {
    display: none;
    border: 1px solid #000;
    width: 355px;
    height: 170px;
    position: absolute;
    background-color: white;
    z-index: 100;
    border: none;
    right: 0px;
    border-radius: 25px;
    top: 30px;
}

.notification:hover>.notification-hover {
    display: block;
}

.notification:hover>.notification-hover>p {
    padding: 15px;
}

.social-network {
    cursor: pointer;
}

.fa-bell {
    margin-right: 5px;
}

.fa-question-circle {
    margin-right: 5px;
}

.user-space>a {
    color: red;
    text-decoration: none;
}

.fa-shopping-cart {
    cursor: pointer;
}

.nav-body {
    cursor: pointer;
}

.triangle:before {
    content: "";
    position: absolute;
    width: 0px;
    right: 50px;
    bottom: top;
    height: 0px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 13px solid white;
    top: -12px;
    z-index: 100;
}

.fa-facebook {
    background-color: white;
    border-radius: 25px;
    color: blue;
    border: 0;
}

.fa-google {
    background-color: red;
    border-radius: 25px;
    font-size: x-large;
    padding: 5px;
    color: white;
}

.user-space-10>a:hover {
    color: green!important;
}

.dropdown-table:before {
    content: "";
    position: absolute;
    bottom: 200px;
    left: 10px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 13px solid #f1d4d4;
}

.one-center-1 {
    border-top: 1px solid black;
}

.one-center-20 {
    padding-bottom: 15px;
}

.dropdown-table-two:before {
    content: "";
    position: absolute;
    border-bottom: 13px solid #f1d4d4;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    bottom: 220px;
    left: 155px;
}

.dropdown-table-three {
    position: relative;
}

.dropdown-table-three:before {
    content: "";
    position: absolute;
    border-bottom: 13px solid #f1d4d4;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    bottom: 200px;
    left: 80px;
}

.one-center-30 {
    padding-bottom: 20px;
}

.dropdown:hover {
    color: green!important;
}

.fa-truck {
    position: relative;
    left: 25px;
}

.one-center:hover {
    color: green;
}

.dropdown-four {
    position: relative;
    margin-top: -10px;
}

.dropdown-four-table {
    width: 500px;
    height: 200px;
    position: absolute;
    z-index: 200;
    background-color: #F1D4D4;
    border-radius: 18px;
    left: 45px;
    color: #000000;
    display: none;
    top: 30px;
    box-shadow: 5px 5px 5px 5px #fff;
}

.space:hover .dropdown-four-table {
    display: block;
}

.lienminh {
    display: inline-block;
    margin-top: 20px;
}

.lienminh-1 {
    width: 53%;
}

.lienminh-2 {
    float: left;
    width: 46%;
}

.one-center-31 {
    font-size: 22px;
}

.dropdown-four-table:before {
    content: "";
    position: absolute;
    border-bottom: 13px solid #f1d4d4;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    bottom: 198px;
    left: 10px;
}

.space {
    height: 88px;
}

.dropdown-1 {
    height: 87px;
}

.two-center:hover {
    color: green;
    font-family: Arial, Helvetica, sans-serif;
}

.space:hover {
    color: green;
}

.inset:active {}

.hidden {
    position: relative;
    left: 100px;
    margin-top: 10px;
}