body {
    background-color: #f0f0f0;
}

a {
    color: inherit!important;
}

.cover_page {
    width: 100%;
    background: #FFFFFF;
    border-radius: 10px;
}

.up-case {
    font-weight: bold;
    text-transform: uppercase;
}

.avatar {
    position: relative;
}

.upload {
    position: absolute;
    bottom: 5px;
    right: 50%;
    font-size: 20px;
    transform: translateX(50%);
    opacity: 0;
    transition: all 0.5s;
}

.avatar:hover>.upload {
    opacity: 1;
}

.file-upload-wrapper {
    width: 100%;
    height: 300px;
    border: 2px dashed #BDBDBD;
    position: relative;
}

.poster {
    width: 50%;
}

.poster>.file-upload-wrapper {
    height: 250px;
}

.file-upload-wrapper::after {
    content: 'Chá»n file';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.product_item {
    height: 350px;
    background: #eee;
    padding: 17px;
    border-radius: 10px;
}

.product_item>img {
    height: 250px;
    width: 100%;
}

.name_item {
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
    height: 3rem;
    overflow: hidden;
    line-height: 1.5rem;
}

#list_picture {
    position: absolute;
    right: 5px;
    top: 10px;
}

#list_picture img {
    width: 40px;
}

.item_list_picture {
    position: relative;
    width: max-content;
    display: inline-block;
}

.delete_item_pictue {
    position: absolute;
    top: 0px;
    right: 0px;
    color: #ffffff;
    font-size: 20px;
    line-height: 1;
    cursor: pointer;
    background: #BDBDBD;
    border-radius: 4px;
}

.part_border {
    border-bottom: 1px solid #BDBDBD;
    padding: 10px 0px;
}

.part_border>div {
    padding: 0px;
}

.ribbon {
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 10px;
    background: red;
    color: #BDBDBD;
    padding: 0px 10px;
}